<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Added for SSO-->
  <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  <connectionStrings>
    <add name="MA2DataDB" connectionString="" providerName="System.Data.SqlClient" />
    <add name="MA2DataDBSqlDependency" connectionString="" providerName="System.Data.SqlClient" />
    <add name="MA2OpsDB" connectionString="" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Encrypted app settings-->
    <add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE2k/bo7sAtsg223YxOGZhNdwj6oIOVO1gbvzkboFUnuLS+N1t4uxTISAxSbmKGgKpffWXX3yI1+5J4x+cYFtYDF3ul6bLlD336bee8WWOc9i25AbKwAAGUVtgncKmZPaoZ25BA6eYBUimW2l3vLBxBxvlxuw9oRm4T+YcVdSXPOi8epnGvpjVhXRs8tBG4UCvZIe5FmiJM0pJZujcS5lm6Hduydg0NdLotDOwWQjTygtTX1y6//1lBELZtqxfHimdnw1621tQiooW2mK0JIYEJHe6cvNnQ5qZGwShFiCHic7g==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE2k/bo7sAtsg223YxOGZhNdwj6oIOVO1gbvzkboFUnuLUn9KwaBgmMPCGEChvqgPlw0mdcC3BO8VrfD2y7A21Ui5nX7FqXd3QIpyErLv471ESnlS8VPuV4ls60oNWU2XhXNocyEbcQciZLvrY+8j5HYT95ISCDIJO0ZGR+4JJzNMnL/OGXMxpiza3rrt3WcsYP1nc/lZDQlFBGQoFjQUJuAbrkFgj3hDwGVEM0d2/fmsw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE3ABmlP+N9PTjA00/a7WOiitFW/3J8GpWXLqbS2360TC5nheizCuOiQEdhDz8ZEFazY9pMMV/sA4QYlAVDz4pn2vLcDLd0RKLgLJ+vC/I7f5Qa6xcrVkybGcO+yq700xiHza03wMmxLSOwe0ezfmrAfqnv41JYU9QQHzqG7n7W05wmoYltoeCjgPw1Rg8/YxvrnGgdKuoB9GzoEVl+kKhFB" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="EDSUsername_Internal" value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lG2qvkCWhwAXOx+4GFOo3avm0/e1vRfRamL9MA2rWBP3NIfY/oMu9OGDBv8gdwQx2dFY/j+/vqYuwxAPLO5CiHw==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSPassword_Internal" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSUsername_External" value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lMpxiGA5X0LweiJk9r7fjn4fCO0Lu9OdQ0kcdy0mO7NgHyVcXTolXDowTPzjwXEfXBeR55iy970R5eay/nnySCA==" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSPassword_External" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ida:FederationMetadataLocation" value="http://extfed.axaxl.com/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Issuer" value="https://extfed.axaxl.com/Service/EdsIdentityService.svc/Issue" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentName" value="TST1" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EncryptCookie" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebPortal_RootURL" value="https://siteforwardtst1.axaxl.com/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="RedirectAllEmailsTo" value="santhosh.deivasigamani@contractor.axaxl.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DefaultFromAddress" value="test@softwaresolved.com"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DocumentumEndpoint" value="https://ecm-dmsrv-test.r02.xlgs.local/EDMS/DMService.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EDSExternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/ou=people,ou=external,dc=xl,dc=com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSInternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/ou=internal,dc=xl,dc=com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSFilter" value="xlExtAppID=SiteForward-TEST1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_Authentication_Type" value="SecureSocketsLayer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Initial_SysAdmin_UserName" value="TSTR022719" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Internal" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_External" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/x500distinguishedname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Common" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_EnableSpecialClaimsProcessing" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MemoryCompressionLimit" value="5242880" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="QueueLocation" value=".\Private$\MA2ToLP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DashboardAlertsEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableAlertsandNotification" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TempDocumentDownloadFolderPath" value="\\XLCAPP677286TV\TempDocumentDownloadFolder" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ImpairmentFormsLocation" value="\\stafi0022\GAPS_SHARE\SiteForward\Forms\Impairment" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DocumentumParamLimit" value="475" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SiteForward_ProductionUrl" value="https://www.siteforward.axaxl.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MapLayerContentPathOverRideUrl" value="https://siteforwardqa.axaxl.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="AutomatedEmailAlertsSelfDestruct" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <documentumConfigs configSource="bin\documentConfigs_TST1.config" xdt:Transform="Replace"/>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error/" xdt:Transform="Replace">
    </customErrors>
  </system.web>
  <system.webServer>
    <!--Added for SSO-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <remove name="FormsAuthentication"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
      <add name="CookieLocalizationModule" type="XLC.MyAnalysis2.WebPortal.Helpers.CookieLocalizationModule, XLC.MyAnalysis2.WebPortal"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!--Force SSL-->
        <rule name="Redirect HTTP to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <audienceUris>
        <add value="https://siteforwardtst1.axaxl.com/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <trustedIssuers>
          <add thumbprint="98ac9de9c2284f88e1c842d5b96d10d97141e449" xdt:Transform="Replace"/>
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None"/>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://extfed.axaxl.com/Service/EdsIdentityService.svc/Issue" realm="GAPS:TST1:MYANALYSIS2" requireHttps="true" xdt:Transform="Replace"/>
    </federationConfiguration>
  </system.identityModel.services>
  <log4net debug="false" xdt:Transform="SetAttributes">
    <root xdt:Transform="Replace">
      <priority value="INFO"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  <system.net>  
    <mailSettings>
      <smtp from="AXAXL_Risk_Consulting_eservices@axaxl.com" xdt:Transform="Replace">
        <network host="internalmail.r02.xlgs.local" xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Transport"
                    xdt:Transform="Replace">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client configSource="bin\documentClient_TST1.config" xdt:Transform="Replace"/>
  </system.serviceModel>
</configuration>
