<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Added for SSO-->
  <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  <connectionStrings configSource="connectionStrings_ConfigSource.config" xdt:Transform="Replace" />
  <appSettings>
    <!--Encrypted app settings  test1-->
    <!--<add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE2k/bo7sAtsg223YxOGZhNdwj6oIOVO1gbvzkboFUnuLS+N1t4uxTISAxSbmKGgKpffWXX3yI1+5J4x+cYFtYDF3ul6bLlD336bee8WWOc9i25AbKwAAGUVtgncKmZPaoZ25BA6eYBUimW2l3vLBxBxvlxuw9oRm4T+YcVdSXPOi8epnGvpjVhXRs8tBG4UCvZIe5FmiJM0pJZujcS5lm6Hduydg0NdLotDOwWQjTygtTX1y6//1lBELZtqxfHimdnw1621tQiooW2mK0JIYEJHe6cvNnQ5qZGwShFiCHic7g==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE2k/bo7sAtsg223YxOGZhNdwj6oIOVO1gbvzkboFUnuLUn9KwaBgmMPCGEChvqgPlw0mdcC3BO8VrfD2y7A21Ui5nX7FqXd3QIpyErLv471ESnlS8VPuV4ls60oNWU2XhXNocyEbcQciZLvrY+8j5HYT95ISCDIJO0ZGR+4JJzNMnL/OGXMxpiza3rrt3WcsYP1nc/lZDQlFBGQoFjQUJuAbrkFgj3hDwGVEM0d2/fmsw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot93SAf7rUfXxsmq+duvZEhaF5F4gB6RcurR7CRE1eEE3ABmlP+N9PTjA00/a7WOiitFW/3J8GpWXLqbS2360TC5nheizCuOiQEdhDz8ZEFazY9pMMV/sA4QYlAVDz4pn2vLcDLd0RKLgLJ+vC/I7f5Qa6xcrVkybGcO+yq700xiHza03wMmxLSOwe0ezfmrAfqnv41JYU9QQHzqG7n7W05wmoYltoeCjgPw1Rg8/YxvrnGgdKuoB9GzoEVl+kKhFB" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--Encrypted app settings  test2-->
    <!--<add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lottLHPKVmbcv6cyFu+DJBSVO8JmfRo2z4DZTY/Ewu0kqz+VdAMufWeC7awNdavUhUCW41lnrOYBnpP5G3GuUvV5b4cw0Kp5TUMXrmO98gm4YlbldWKJy1UsoEYXlygpLWfcPWTYMpkoH30iSDSSKjTNroyj2s4PoyAGXtgK5R+MSZVieV+doArua7D/u5A4+BzylObFyCOVyi7H+ZYzlzFqrpJxlY9L0od+HBI3Zr9g8ZsCvlYUSMxgdHrHi9vyY7INNS4nxehtMIEarRKunKZ0TN8cwhvnwpF1Zj6oNhvCikaw+5e8tFN7zS6JlXZZUC+YofCXKyeKJSkIKbMF5vN5Q==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lottLHPKVmbcv6cyFu+DJBSVO8JmfRo2z4DZTY/Ewu0kqz+VdAMufWeC7awNdavUhUCW41lnrOYBnpP5G3GuUvV5cq3BNSZijNaXdPiaHWobP2Hov/1j/r0Tom0PzubMQG3b/KtwD7Yq3PpWMvtnf1tMchdNv7rHppIyUV8S2x6BbFeJMv0xLSycN2OgS49yHEvlSFI+1bKbI1xLrKdYaUB0T+Q1gEYuIZzKbiqBAuxI+4eeeMw1CR4wh3S5+yMyWi/fvb/mWGog32zVYdnceRsKw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lottLHPKVmbcv6cyFu+DJBSVO8JmfRo2z4DZTY/Ewu0kqyeBFloGblPZgZJGOcxN6dakMguqbE80UM8LIUUTeQ3zubpa3hBDrflJglN+o6cECnQEsib99zv4OmQuDPI5i6ovUSCLBC6Wk71CpijKx8SsYYz/bWBIcYs7z/NsD1cojaMMVhO0QxHS6qf4kljWr19M4PWfctyDXMu2pIm3L7X2UvRM85dqx6loyjqMst52Bxrx/JuKqaFlmGJ0gyxh3WW" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--Encrypted app settings  QA-->
    <!--<add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAyZuT3tKoXpqZzDBHqteAYPgYLRgsm8NeZsEk1sr8G57xea3pmYy2jxWVyBzPuUnkc5qhEXZaofoBtLdgEY9hYBSNRuIEkQg3/6qXDc5k/A5og98v43AyugGRnLPCmTvwyd7ztLWZQ50Peo6C+b5nL6JWt7JF6j1qul8MMpEdsYESgOReBsuE/Ais4KjNjRS/YzZzdQnFcDUfHouUoXVxfnzAYpeLTNw//mAwoZnmGVLMa4rMnpyNrX9yCjFR4jVF1eJKqTijRLEUrz6soHvwJrVEJB1vUxjjH9rCbqyBv453GgdR1DNQaNReeEQDnDvq9t2HDas8u7oRXwbJ0gcrO3reHQ1eE+Rvl4OOMpN1/67A==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAyZuT3tKoXpqZzDBHqteAYPgYLRgsm8NeZsEk1sr8G57xea3pmYy2jxWVyBzPuUnkc5qhEXZaofoBtLdgEY9hYBN4UqD/0F8yHolmfpFSKmFMvrbg8oRi0Osb1+XyDwqSVa3X7a0UDJ1En8OtmhlaQkVTlhXOQ64SXPmV6hs7LXu8R9bXYMN2mPHsSuPGCkMV8DID8Kg9SUYB5SaA1U68BxnGrEEcD3L7HxTMkTrUsnC+0kszmi5/8KszRNsAIQ8a0/TzH0ureGLp45hR5Oj/6kbeJvKc8Rk+m0UqbHkE5qCQ=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAyZuT3tKoXpqZzDBHqteAYPgYLRgsm8NeZsEk1sr8G577ZkaS0mArkW82GDmG1nk0QeHmg64Edrmnkpm6a/rppFmC/0jirsUWBJGc1T29KbraqdZZQB83r7ZhhhrCXf6AmO1Xi8HftUiNTloSzXsBzzVNPoNKmqJGgjGYhbpSx0xS9EDtr0AbSFjO7fXh+YedJuZFiNWVJdvWyDIQNNMVLefZ19Qc9A7TkCepJFDXQbfWD6R4kqag0WyWtaipyPSmBzwl4fA0gxyoTOoAjG6qdJ" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--<add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot4W3zE+N09GT1tCO1xOBJNleB5+hTPgQTpVlX6GD16xfM7PNlLjd5l9SSfbqTQVfNiE8IZbIhNK82s3M61ZvDgYNmwDoXfPKJ7ERaaywa8u9lM345bz+aademF3KjTNoNizXMllDMrhCdWZxjPIXOOec1jCKTysyGevVpaGU0/Qu5ghX1OQddj4gdO1p0M3rmH9lhFOdM43NCg9CzGwfRSlyk+sY/k6kHd3hr4qzeGDTjsmyMEHpqDIXzsJf9jHimCD5NervNNSq23qvk9I+7YpUKIzWaZVlKJj+1sO1HPpR8YZWUFUw0UMIKpZ5yERy31E+ZAicForp6aX0firmxrVREwv+3huscgPNFsLY8PEo=" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot4W3zE+N09GT1tCO1xOBJNleB5+hTPgQTpVlX6GD16xd8+U8q5TbmNCEKwSFW/GnV6NlXMOVqIbJs0QzpKFSU07IvSIt21dCaFqaUAvgowo+r/YVFru4q5OiPyqk+F6iPCQkvNmxxKWBcK8wkfNeu4gg1Mz8MTDbheUnO+0waUZwk02vpjAs+eExgL1Ak5KEggD6kNCMWjB/IOML9xxCU7q3ZTC8yLNVCOZ1BYslPmx8SIsW6zbN8shTyb52jeY/vO8LgOKpigEQoi8Th7AxgZw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAwWdHqDtNxU/CMm4tqA5lot4W3zE+N09GT1tCO1xOBJNleB5+hTPgQTpVlX6GD16xd7rrFTxuuNk1yct4Iu0yFkjUFe7LFt8aziwQd5MRYuc4fBXRWlvkxmYOMX8gyYZtlx1yZnE1D12FWEokf/bdxy8Q40IpmfJZkwwRutPQAJvaRN2aRMvSy/7R24nrlWHwFlslT0D+a8MvkjGZqLi/2SzHyx/bKcdedFHeT8iTRU+He0CNUVx+kdYphIALEHvM4TWAEYHD860nL/b+IfKVxTszJSQY5h0e4HUui42FfnAQ==" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--Encrypted app settings  PROD-->
    <add key="MA2DataDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8ZcUfqHdJfnx4M2NzgGxp9ZnnS13VEU7WRlVRXwdH4Pm19A9Qw7tvdbUnUvhXRA5a3x31GfIq7uyuL6l0VpKxecOczBYL3/MHogFR3mNyKwoNac/J8YaKs0WBxuWRr46elVdCZlivn62wnDoZj/kT/KZ0uZBVhhvHod5PFVjDCm7BkNseRJO3X38QfCSb2Jw/rSKyBg4snAxgTvQZHl7Xxz+yQ3p0vZnpPXuDldAjMXybk/BgbGEGDC9JeysJGnXkqUK6k4glqSgiHPK6zTZ6BC0BiprW8QAElCONOXuUHrg==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MA2DataDBSqlDependency" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8ZcUfqHdJfnx4M2NzgGxp9ZnnS13VEU7WRlVRXwdH4PvTbrgrwMiz0wV0URJYt77sQHxMeHU9m7RaFfYWPILVvsomj7p9xKdWDd4+YXUxEfnpzmmWVxqpW3IJlZTjSw3O4Sqakt4CGyCLuajaSgHkravXWWv31z6GowKOqSQDkR0wE5shvWDb9aZ45cI49YDPXzWrc+N7yqBqP0NUFxAS3M+1Nbz/f2QsgFTaq4D4mMw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MA2OpsDB" value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8hWq+4QhTdyfMbUw8Hhu001Kmwlio1EXmYaNgBML24evsLmGZqPkiEfAOCFlUGaPZNL9sblJ4gegNi2B1QFz9980n++ZtyPfr+BWRi53y4I8kv5biqWiUsC5BYM/vhg4rPnnzuJvU83mLWxJQiajh3n00JH5bFc4OHcORgi22QXAprFOSUkDcDQz5THyz5jmwDxVWi4hGyY5gRDT0YaWj8" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="EDSUsername_Internal" value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lG2qvkCWhwAXOx+4GFOo3avm0/e1vRfRamL9MA2rWBP3NIfY/oMu9OGDBv8gdwQx2dFY/j+/vqYuwxAPLO5CiHw==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EDSPassword_Internal" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EDSUsername_External" value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lMpxiGA5X0LweiJk9r7fjn4fCO0Lu9OdQ0kcdy0mO7NgHyVcXTolXDowTPzjwXEfXBeR55iy970R5eay/nnySCA==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EDSPassword_External" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="ida:FederationMetadataLocation" value="http://extfed.axaxl.com/FederationMetadata/2007-06/FederationMetadata.xml" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:Issuer" value="https://extfed.axaxl.com/Service/EdsIdentityService.svc/Issue" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="WebPortal_RootURL" value="https://10.0.130.70/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>  
    <add key="DocumentumEndpoint" value="Https://ecm-dmsrv-test1.r02.xlgs.local/EDMS/DMService.svc" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EDSExternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/ou=people,ou=external,dc=xl,dc=com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSInternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/OU=internal,dc=xl,dc=com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_Authentication_Type" value="SecureSocketsLayer" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDSFilter" value="xlExtAppID=SiteForward-PROD" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Initial_SysAdmin_UserName" value="X121852" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Internal" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_External" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/x500distinguishedname" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Common" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EDS_EnableSpecialClaimsProcessing" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MemoryCompressionLimit" value="5242880" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="QueueLocation" value=".\Private$\MA2ToLP" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="DashboardAlertsEnabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EnableAlertsandNotification" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="TempDocumentDownloadFolderPath" value="\\XLCAPP719535TV\TempDocumentDownloadFolder" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ImpairmentFormsLocation" value="\\stafi0022\GAPS_SHARE\SiteForward\Forms\Impairment" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
     <add key="RedirectAllEmailsTo" value ="" />
  </appSettings>
  <documentumConfigs configSource="bin\documentConfigs_DEV_Cognizant.config" xdt:Transform="Replace"/>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <remove name="FormsAuthentication"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
      <add name="CookieLocalizationModule" type="XLC.MyAnalysis2.WebPortal.Helpers.CookieLocalizationModule, XLC.MyAnalysis2.WebPortal"/>
    </modules>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!--Force SSL-->
        <rule name="Redirect HTTP to HTTPS">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.identityModel configSource="adfsTrust.config" xdt:Transform="Replace" />
  <system.identityModel.services configSource="adfsTrustServices.config" xdt:Transform="Replace" />
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="Transport"
                    xdt:Transform="Replace">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client configSource="bin\documentClient_DEV_Cognizant.config" xdt:Transform="Replace"/>
  </system.serviceModel>
  <system.net>    
    <mailSettings>
      <smtp from="AXAXL_Risk_Consulting_eservices@axaxl.com" xdt:Transform="Replace">
        <network host="internalmail.r02.xlgs.local" xdt:Transform="Replace" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
