<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="mapLayerConfigs" type="XLC.MyAnalysis2.WebPortal.MapLayerConfigsSection,XLC.MyAnalysis2.WebPortal" />
    <section name="documentumConfigs" type="System.Configuration.NameValueSectionHandler" />
    <!--Added for SSO-->
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="connectionStrings_ConfigSource.config"/>
  <appSettings>
    <!--Encrypted app settings-->
    <add key="MA2DataDB"
      value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8ZcUfqHdJfnx4M2NzgGxp9ZnnS13VEU7WRlVRXwdH4Pm19A9Qw7tvdbUnUvhXRA5a3x31GfIq7uyuL6l0VpKxecOczBYL3/MHogFR3mNyKwoNac/J8YaKs0WBxuWRr46elVdCZlivn62wnDoZj/kT/KZ0uZBVhhvHod5PFVjDCm7BkNseRJO3X38QfCSb2Jw/rSKyBg4snAxgTvQZHl7Xxz+yQ3p0vZnpPXuDldAjMXybk/BgbGEGDC9JeysJGnXkqUK6k4glqSgiHPK6zTZ6BC0BiprW8QAElCONOXuUHrg=="/>
    <add key="MA2DataDBSqlDependency"
      value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8ZcUfqHdJfnx4M2NzgGxp9ZnnS13VEU7WRlVRXwdH4PvTbrgrwMiz0wV0URJYt77sQHxMeHU9m7RaFfYWPILVvsomj7p9xKdWDd4+YXUxEfnpzmmWVxqpW3IJlZTjSw3O4Sqakt4CGyCLuajaSgHkravXWWv31z6GowKOqSQDkR0wE5shvWDb9aZ45cI49YDPXzWrc+N7yqBqP0NUFxAS3M+1Nbz/f2QsgFTaq4D4mMw=="/>
    <add key="MA2OpsDB"
      value="HOKQZijF/hqICIrkZpUxLpPQDUUXnXk2yOU9PyTerAzGxANlal7A6lmlrMl9z6x/dVaFcEzqc0hwn+6ZO1f6z2X3XMHKKFnfwm1XhuMuNN8hWq+4QhTdyfMbUw8Hhu001Kmwlio1EXmYaNgBML24evsLmGZqPkiEfAOCFlUGaPZNL9sblJ4gegNi2B1QFz9980n++ZtyPfr+BWRi53y4I8kv5biqWiUsC5BYM/vhg4rPnnzuJvU83mLWxJQiajh3n00JH5bFc4OHcORgi22QXAprFOSUkDcDQz5THyz5jmwDxVWi4hGyY5gRDT0YaWj8"/>


    <add key="EDSUsername_Internal"
      value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lG2qvkCWhwAXOx+4GFOo3avm0/e1vRfRamL9MA2rWBP3NIfY/oMu9OGDBv8gdwQx2dFY/j+/vqYuwxAPLO5CiHw=="/>
    <add key="EDSPassword_Internal" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl"/>
    <add key="EDSUsername_External"
      value="DyMFW57IySndrwuuRyBwg0+6QfjyC8eSLpabvcEcIr5xpTdynFbXa8koD8Sqrx0lMpxiGA5X0LweiJk9r7fjn4fCO0Lu9OdQ0kcdy0mO7NgHyVcXTolXDowTPzjwXEfXBeR55iy970R5eay/nnySCA=="/>
    <add key="EDSPassword_External" value="qJ11pqYQlL4H8IByfgAmVhwPIzDOiaXSOHkANrxTyWD0emA+Ett5wHHxzA5vvSrl"/>

    <!--Added for SSO-->
    <add key="ida:FederationMetadataLocation" value="http://extfed.axaxl.com/FederationMetadata/2007-06/FederationMetadata.xml"/>
    <add key="ida:Issuer" value="https://extfed.axaxl.com/Service/EdsIdentityService.svc/Issue"/>
    <add key="ApplicationName" value="XLC.MyAnalysis2.WebPortal" />
    <add key="EnvironmentName" value=""/>
    <add key="EncryptCookie" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="WebPortal_RootURL" value="https://10.0.130.70/"/>
    <add key="RedirectAllEmailsTo" value="santhosh.deivasigamani@contractor.axaxl.com" />
    <add key="DefaultFromAddress" value="test@softwaresolved.com" />
    <add key="EDSExternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/ou=people,ou=external,dc=xl,dc=com"/>
    <add key="EDSInternalOU" value="LDAP://XLCAPP265530PV.r02.xlgs.local:6360/OU=internal,dc=xl,dc=com"/>
    <add key="EDS_AccessXL_AdminPage" value="https://access.axaxl.com" />
    <add key="EDS_AccessXL_CreateUser" value="http://extranetmanager.xlgs.local/NewUser/CreateUser" />
    <add key="EDS_AccessXL_UpdateProfile" value="https://extfed.axaxl.com/SelfService/Account/Index/" />
    <add key="EDS_AccessXL_ChangePassword" value="https://extfed.axaxl.com/SelfService/Account/ChangePassword" />
    <add key="EDS_Authentication_Type" value="SecureSocketsLayer"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="50000000" />
    <!-- Overcome 'The JSON request was too large to be deserialized' error in Account Permissions page-->
    <add key="LargeJsonMaxLength" value="50000000" />
    <add key="EDSFilter" value="xlExtAppID=SiteForward-PROD"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Internal" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"/>
    <add key="EDS_UniqueClaimTypeIdentifier_External" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/x500distinguishedname"/>
    <add key="EDS_UniqueClaimTypeIdentifier_Common" value="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"/>
    <add key="EDS_EnableSpecialClaimsProcessing" value="true"/>
    <add key="Initial_SysAdmin_UserName" value="X121852"/>
    <add key="MemoryCompressionLimit" value="5242880"/>
    <add key="QueueLocation" value=".\Private$\MA2ToLP"/>   
    <add key="MapPrintingServicesUrl" value="https://axaxl-gis.cloud.esriuk.com/server/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task" />
    <add key="ArcGISBaseUrl" value="https://globalriskmaps.axaxl.com" />
    <add key="ArcGISMunichREBaseUrl" value="https://api.munichre.com" />
    <add key="ArcGISLiveFeedBaseUrl" value="https://livefeeds.arcgis.com" />
    <add key="EngageProxyForPrintingServicesUrl" value="true" />
    <add key="DashboardAlertsEnabled" value="true"/>
    <add key="EnableAlertsandNotification" value="true"/>
    <add key="TempDocumentDownloadFolderPath" value="\\XLCAPP719535TV\TempDocumentDownloadFolder"/>
    <add key="EnableRecommendationUpdates" value="true"/>
    <add key="ExcelSpreadsheetUnlockKey" value="fS9Olcx8ZSHx"/>
    <add key="ImpairmentFormsLocation" value="\\stafi0022\GAPS_SHARE\SiteForward\Forms\Impairment"/>
    <add key="DocumentumParamLimit" value="475" />
    <add key="SiteForward_ProductionUrl" value="https://www.siteforward.axaxl.com"/>
    <add key="MapLayerContentPathOverRideUrl" value="https://siteforwardqa.axaxl.com"/>
    <add key="SuppressMemoryCache" value="False"/>
    <add key="EnableDocumentExports" value="True"/>
	<add key="AutomatedEmailAlertsSelfDestruct" value="True"/>
  </appSettings>
  <mapLayerConfigs>
    <mapLayerGroups>
      <add id="layerGroupLiveEvents" name="Live Events" resourcekey="Map_MapLayerGroupName_LiveEvents" />
      <add id="layerGroupNaturalCatastropheRiskLayers" name="Natural Catastrophe Risk Layers" resourcekey="Map_MapLayerGroupName_NaturalCatastropheRiskLayers" />
    </mapLayerGroups>
    <mapLayers>

      <add id="Flood Models: National Flood Models" name="Flood Models: National Flood Models" resourcekey="Map_MapLayerName_FloodModelsNFM" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_NationalFloodModels_2/MapServer" />

      <add id="layerFloodModelsRURP" name="Flood Models: River Undefended - Return Periods" resourcekey="Map_MapLayerName_FloodModelsRURP" layergroupid="layerGroupNaturalCatastropheRiskLayers"
        layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_RiverUndefended_2_ReturnPeriods/MapServer" />

      <add id="layerFloodModelsRUDBRP" name="Flood Models: River Undefended - Depth by Return Period" resourcekey="Map_MapLayerName_FloodModelsRUDBRP" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_RiverUndefended_2_FloodDepths/MapServer" />

      <add id="layerFloodModelsSWURP" name="Flood Models: Surface Water Undefended - Return Periods" resourcekey="Map_MapLayerName_FloodModelsSWURP" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_SurfaceWaterUndefended_ReturnPeriods/MapServer" />

      <add id="layerFloodModelsSWUDBRP" name="Flood Models: Surface Water Undefended - Depth by Return Period" resourcekey="Map_MapLayerName_FloodModelsSWUDBRP" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_SurfaceWaterUndefended_FloodDepths/MapServer" />

      <add id="layerFloodModelsOFM" name="Flood Models: Other Flood Models" resourcekey="Map_MapLayerName_FloodModelsOFM" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="30" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/ArcGis/v1/Megarasters_World_OtherFloodModels/MapServer" />

      <!-- Note Proprietary layers (sourced from either ArcGIS Online or AXA XL Global Risk Maps) require an entry in ArcGISProxyConfig.config so that the proxy obtains an auth token for each request-->
      <!-- Set routeViaResourceProxy="true" to make ArcGIS Javascript API route requests via resource proxy (ArcGISProxyHandler.cs) for on-prem or ArcGIS Online Subscriber content-->

      <!-- START ArcGIS Online FREE Layers START -->
      <add id="layerLiveEarthquakes" name="Live Earthquakes" resourcekey="Map_MapLayerName_LiveEarthquakes" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="false" url="https://utility.arcgis.com/usrsvcs/servers/4d23d953510e4bf8ac4925414ff921fe/rest/services/LiveFeeds/USGS_Seismic_Data/MapServer" />
      <add id="layerLiveWeatherNOAAStormReports" name="Live Weather NOAA Storm Reports" resourcekey="Map_MapLayerName_LiveWeatherNOAAStormReports" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="false" url="https://utility.arcgis.com/usrsvcs/servers/253f1f18766f468fa4398fbb929f1e6e/rest/services/LiveFeeds/NOAA_storm_reports/MapServer" />
      <add id="layerLiveWeatherActiveHurricanes" name="Live Weather Active Hurricanes" resourcekey="Map_MapLayerName_LiveWeatherActiveHurricanes" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="false" url="https://utility.arcgis.com/usrsvcs/servers/c45f63b23c5a4c51ad113228176265cc/rest/services/LiveFeeds/Hurricane_Active/MapServer" />
      <add id="layerLiveFloods" name="Live Floods Forecast River Flood Status" resourcekey="Map_MapLayerName_LiveFloods" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="false" url="https://idpgis.ncep.noaa.gov/arcgis/rest/services/NWS_Observations/ahps_riv_gauges/MapServer/13" />
      <add id="layerLiveWildfiresWildfireActivity" name="Live Wildfires Wildfire Activity" resourcekey="Map_MapLayerName_LiveWildfiresWildfireActivity" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="false" url="https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/USA_Wildfires_v1/FeatureServer" />
      <!-- END ArcGIS Online FREE Layers END -->
      
      <!-- START ArcGIS Online Subscriber Layers START -->
      <!-- END ArcGIS Online Subscriber Layers END -->
      
      <!-- START Layers sourced from Munich Re via Azure API Management START -->

      <add id="layerEarthquakeDyn" name="Earthquake DYN" resourcekey="Map_MapLayerName_EarthquakeDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/EarthquakeDyn/MapServer" />

      <add id="layerWildfireDyn" name="Wildfire DYN" resourcekey="Map_MapLayerName_WildfireDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/WildfireDyn/MapServer" />

      <add id="layerVolcanoes" name="Volcanoes" resourcekey="Map_MapLayerName_Volcanoes" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/Volcanoes/MapServer" />

      <add id="layerTsunamiDyn" name="TsunamiDyn" resourcekey="Map_MapLayerName_TsunamiDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/TsunamiDyn/MapServer" />

      <add id="layerTropicalCycloneDyn" name="TropicalCycloneDyn" resourcekey="Map_MapLayerName_TropicalCycloneDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/TropicalCycloneDyn/MapServer" />

      <add id="layerExtraStormDyn" name="ExtraStormDyn" resourcekey="Map_MapLayerName_ExtraStormDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/ExtraStormDyn/MapServer" />

      <add id="layerHailDyn" name="HailDyn" resourcekey="Map_MapLayerName_HailDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/HailDyn/MapServer" />

      <add id="layerTornadoDyn" name="TornadoDyn" resourcekey="Map_MapLayerName_TornadoDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/TornadoDyn/MapServer" />

      <add id="layerStormSurgeDyn" name="StormSurgeDyn" resourcekey="Map_MapLayerName_StormSurgeDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/StormSurgeDyn/MapServer" />

      <add id="layerLightningDyn" name="LightningDyn" resourcekey="Map_MapLayerName_LightningDyn" layergroupid="layerGroupNaturalCatastropheRiskLayers"
           layerOpacityPercentage="50" routeViaResourceProxy="true" url="https://proxy-api.azu-xlc-pcsprd.net/ext/LocationIntelligence/v1/arcgis/rest/services/Nathan/LightningDyn/MapServer" />

      <!-- END Layers sourced from Munich Re via Azure API Management END --><!--

      --><!-- Current Wind and Weather Conditions (was Live Wildfires Current Wind Speed Direction) --><!--
      <add id="layerLiveWildfiresCurrentWindSpeedDirection" name="Current Wind and Weather Conditions" resourcekey="Map_MapLayerName_CurrentWindAndWeatherConditions" layergroupid="layerGroupLiveEvents" routeViaResourceProxy="true" url="https://livefeeds.arcgis.com/arcgis/rest/services/LiveFeeds/NOAA_METAR_current_wind_speed_direction/MapServer" />-->

      <!-- END ArcGIS Online Subscriber Layers via proxy in AXA XL Global Risk Maps END -->
    </mapLayers>
  </mapLayerConfigs>
  <documentumConfigs configSource="bin\documentConfigs_DEV_Cognizant.config"/>
  <system.web>
    <!--requestValidationMode="2.0" to overcome the error below when using WIF:
    "A Potentially Dangerous Request.Form Value Was Detected from the Client"
    See https://social.technet.microsoft.com/wiki/contents/articles/1725.wif-troubleshooting-a-potentially-dangerous-request-form-value-was-detected-from-the-client.aspx -->
    <httpRuntime maxRequestLength="40960" targetFramework="4.5" requestValidationMode="2.0" />
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="None" />
    <compilation debug="true" />
    <machineKey
      validationKey="A101B3B174ED117C83554BFFFA480232A2DF8B133B72A43AB971DC0EC551C1585A2CB05AE7F202E3F6D3F3F4AA1B0C6BA6EF4C14265FE497149D03345D5ABD4A"
      decryptionKey="3E5489F9B0B4FD188835B66FF4A7512A8EA2304D4E013A51"
      validation="SHA1" decryption="AES"
    />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <!--Added for SSO-->
    <handlers>
      <add name="ARCGISProxyHandler" path="*.arcgisproxy" verb="*" type="XLC.MyAnalysis2.WebPortal.ArcgisProxyHandler" resourceType="Unspecified" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="CookieLocalizationModule" type="XLC.MyAnalysis2.WebPortal.Helpers.CookieLocalizationModule, XLC.MyAnalysis2.WebPortal" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <caching>
      <profiles>
        <add extension="woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
        <add extension="jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
        <add extension="jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
        <add extension="png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
        <add extension="gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
        <add extension="css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByQueryString="*" />
      </profiles>
    </caching>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" responseMode="Redirect" path="/Home/NotAuthorised" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" responseMode="Redirect" path="/Error/Index" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!--Force SSL-->
        <rule name="Redirect HTTP to HTTPS">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <!--Added for SSO-->
  <system.identityModel configSource="adfsTrust.config"/>
  <system.identityModel.services configSource="adfsTrustServices.config"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <log4net debug="true">
    <appender name="AdoNetAppender" type="XLC.MyAnalysis2.Shared.CustomAdoNetAppender">
      <bufferSize value="1" />
      <reconnectonerror value="true" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionStringName value="MA2OpsDB" />
      <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawUtcTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <root>
      <priority value="ALL" />
      <appender-ref ref="AdoNetAppender" />
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp from="AXAXL_Risk_Consulting_eservices@axaxl.com">
        <network host="internalmail.r02.xlgs.local"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDMService" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Ntlm"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client configSource="bin\documentClient_DEV_Cognizant.config"/>
  </system.serviceModel>

	<system.diagnostics>
		<sources>
			<source name="SignalR.SqlMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ServiceBusMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.RedisMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.ScaleoutMessageBus">
				<listeners>
					<add name="SignalR-Bus" />
				</listeners>
			</source>
			<source name="SignalR.Transports.WebSocketTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ServerSentEventsTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.ForeverFrameTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.LongPollingTransport">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.Transports.TransportHeartBeat">
				<listeners>
					<add name="SignalR-Transports" />
				</listeners>
			</source>
			<source name="SignalR.ReflectedHubDescriptorProvider">
				<listeners>
					<add name="SignalR-Init" />
				</listeners>
			</source>
		</sources>
		<!-- Sets the trace verbosity level -->
		<switches>
			<add name="SignalRSwitch" value="Verbose" />
		</switches>
		<!-- Specifies the trace writer for output -->
		<sharedListeners>
			<!-- Listener for transport events -->
			<add name="SignalR-Transports" type="System.Diagnostics.TextWriterTraceListener" initializeData="transports.log.txt" />
			<!-- Listener for scaleout provider events -->
			<add name="SignalR-Bus" type="System.Diagnostics.TextWriterTraceListener" initializeData="bus.log.txt" />
			<!-- Listener for hub discovery events -->
			<add name="SignalR-Init" type="System.Diagnostics.TextWriterTraceListener" initializeData="init.log.txt" />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
</configuration>